In [18]:
import numpy as np 
from scipy.stats import chi2_contingency
import pandas as pd 
import seaborn as sns

In [19]:
df = sns.load_dataset("titanic")

In [20]:
contingency_table = pd.crosstab(df["sex"],df["survived"])

In [21]:
contingency_table

survived    0    1
sex
female     81  233
male      468  109

In [22]:
chi2 , p_val , dof , expected = chi2_contingency(contingency_table)

In [23]:
chi2

260.71702016732104

In [24]:
alpha = 0.05
if p_val < alpha:
    print("Reject the null hypothesis")
else:
    print("Accept the null hypothesis")

Reject the null hypothesis