In [11]:
from scipy.stats import f_oneway
import pandas as pd 
import seaborn as sns

In [12]:
df = sns.load_dataset("titanic")
df = df[['age','pclass']].dropna()

In [13]:
class_1 = df[df['pclass'] == 1]['age']
class_2 = df[df['pclass'] == 2]['age']
class_3 = df[df['pclass'] == 3]['age']

In [14]:
f_stats, p_value = f_oneway(class_1,class_2,class_3)
f_stats

57.443484340676214

In [15]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Accept the null hypothesis")

Reject the null hypothesis